<%- include('partials/header'); -%>
    <div class="cover-container full d-flex w-100 h-100 p-3 mx-auto flex-column">
        <%- include('partials/navbar'); -%>
            <h1>Something went Wrong</h1>

            <%- include('partials/footer'); -%>
    </div>