<%- include('partials/header'); -%>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <%- include('partials/navbar'); -%>


            <main class="px-3 mt-5">
                <h1 class="mt-5">Incident Management Center</h1>
                <p class="lead">This center helps you create, manage and keep track of your incidents.</p>
                <p class="lead mt-5">
                    <a href="#" class="btn btn-lg btn-secondary mt-5 fw-bold border-white bg-white">Learn more</a>
                </p>
            </main>

            <footer class="text-white-50 mt-5 mb-5">
                <p>Designed and Created by <a href="#" class="mt-5 text-white">Sahar Yusufzai</a>.</p>
            </footer>
    </div>

    <%- include('partials/footer'); -%>